PVE_HOST=
PVE_API_TOKEN=
PVE_API_KEY=
PVE_VERIFY_SSL=false
POLL_INTERVAL=3
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

INFLUXDB_URL=
INFLUXDB_TOKEN=
INFLUXDB_ORG=lab-d-proxmox
INFLUXDB_BUCKET=proxmox_history

DASHBOARD_API_KEY=

WAZUH_HOST=
WAZUH_API_USERNAME=
WAZUH_API_KEY=
WAZUH_INDEXER_USERNAME=
WAZUH_INDEXER_PASSWORD=
